h1{
    padding-bottom: 5vh;
}

.btn{
    background-color: black;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 0 1vw;
}

.btn:hover{
    background-color: white;
}

.btn:hover span{
    color: black;
}

.desktopDownload{
    min-height: 35vh;
}

.desktopDownload div p{
    margin: 0 20vw;
}

.downloadButtonDiv{
    height: 7vh;
    margin: auto;
    padding: 4%;
    display: block;
}

.singleDownloadBtnDiv{
    display: inline-block;
    padding: 0 5%;
}

.downloadButtonPairDiv{
    margin: auto;
    height: 7vh;
}

.downloadLink{
    display: block;
    height: 7vh;
}

.appStoreLogo{
    width: 20vw;
}

.androidLogo{
    width: 20vw;
}

@media only screen and (max-width: 768px) {
    .singleDownloadBtnDiv{
        display: block;
        padding: 5% 0;
    }

    .downloadButtonDiv{
        margin: auto;
        padding: 4%;
        display: block;
        height: auto;
    }

    .downloadButtonPairDiv{
        margin: auto;
        height: auto;
    }

    .appStoreLogo{
        width: 50vw;
    }

    .androidLogo{
        width: 50vw;
    }

}