.footerPageDiv{
    height: 5vh;
    background: -webkit-linear-gradient(45deg, #ffecd2, #fcb7a0);
}

.footer{
    display: inline-block;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.footer div{
    margin: auto;
    float: left;
    width: 33%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .footer{
        margin: auto;
        font-size: 10px;
    }
}