.homepageTextDiv {
    display: block;
    margin: auto;
    max-width: 50%;
    text-align: center;
}

.titleHeader {
    font-size: 20px;
    padding-top: 2%;
}

.headerDiv {
    color: #fcb7a0;
    background: -webkit-linear-gradient(45deg, #ffecd2, #fcb7a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.youtubeDiv{
    width: 100%;
}

.youtubeDiv iframe{
    width: 40vw;
    height: 22vw;
    margin: auto;
}

.objectiveList{
    display: table;
    padding: 0 20%;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .youtubeDiv iframe{
        width: 75vw;
        height: 42vw;
        margin: auto;
    }
}